training_set_delta/*
training_set_in_use_delta/*
training_set_omnipose/*
training_set_in_use_omnipose/*
training_set_delta
training_set_in_use_delta
training_set_omnipose
training_set_in_use_omnipose
cell_timeseries.p
space_timeseries.p
